<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.todaysoft.ghealth.mybatis.mapper.OrderHistoryMapper" >
  <resultMap id="BaseResultMap" type="com.todaysoft.ghealth.mybatis.model.OrderHistory" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
    <result column="EVENT_TYPE" property="eventType" jdbcType="INTEGER" />
    <result column="EVENT_TIME" property="eventTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ORDER_ID, EVENT_TYPE, EVENT_TIME
  </sql>
  <select id="getByOrderId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from ghealth_gopath_order_history
    where ORDER_ID = #{orderId,jdbcType=VARCHAR}
  </select>

  <insert id="create" parameterType="com.todaysoft.ghealth.mybatis.model.OrderHistory" >
    insert into ghealth_gopath_order_history
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="eventType != null" >
        EVENT_TYPE,
      </if>
      <if test="eventTime != null" >
        EVENT_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="eventType != null" >
        #{eventType,jdbcType=INTEGER},
      </if>
      <if test="eventTime != null" >
        #{eventTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

</mapper>