<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.todaysoft.ghealth.mybatis.mapper.ProductMapper">
    <resultMap id="BaseResultMap" type="com.todaysoft.ghealth.mybatis.model.Product">
        <id column="ID" property="id"/>
        <result column="CODE" property="code"/>
        <result column="NAME" property="name"/>
        <result column="IMG_URL" property="imgUrl"/>
        <result column="PDF_URL" property="pdfUrl"/>
        <result column="SEX_RESTRAINT" property="sexRestraint"/>
        <result column="GUIDING_PRICE" property="guidingPrice"/>
        <result column="START_TIME" property="startTime"/>
        <result column="END_TIME" property="endTime"/>
        <result column="DISCOUNT_PRICE" property="discountPrice"/>
        <result column="DISCOUNT" property="discount"/>
        <result column="ENABLED" property="enabled"/>
        <result column="IS_COMMON_PACKAGE" property="isCommonPackage"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <result column="ITEM_REMARK" property="itemRemark"/>
        <result column="ITEM_IDS" property="itemIds"/>
    </resultMap>

    <sql id="Base_Column_List">
        select * FROM ghealth_gopath_product
    </sql>

    <select id="get" resultMap="BaseResultMap" parameterType="java.lang.String">
        <include refid="Base_Column_List"/>
        where ID = #{id,jdbcType=VARCHAR}
    </select>

    <insert id="create" parameterType="com.todaysoft.ghealth.mybatis.model.Product">
        insert into ghealth_gopath_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="code != null">
                CODE,
            </if>
            <if test="name != null">
                NAME,
            </if>
            <if test="imgUrl != null">
                IMG_URL,
            </if>
            <if test="pdfUrl != null">
                PDF_URL,
            </if>
            <if test="sexRestraint != null">
                SEX_RESTRAINT,
            </if>
            <if test="guidingPrice != null">
                GUIDING_PRICE,
            </if>
            <if test="startTime != null">
                START_TIME,
            </if>
            <if test="endTime != null">
                END_TIME,
            </if>
            <if test="discountPrice != null">
                DISCOUNT_PRICE,
            </if>
            <if test="discount != null">
                DISCOUNT,
            </if>
            <if test="enabled != null">
                ENABLED,
            </if>
            <if test="isCommonPackage != null">
                IS_COMMON_PACKAGE,
            </if>
            <if test="createTime != null">
                CREATE_TIME,
            </if>
            <if test="updateTime != null">
                UPDATE_TIME,
            </if>
            <if test="deleted != null">
                DELETED,
            </if>
            <if test="deleteTime != null">
                DELETE_TIME,
            </if>
            <if test="itemRemark != null">
                ITEM_REMARK,
            </if>
            <if test="itemIds != null">
                ITEM_IDS,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id, jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code, jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name, jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null">
                #{imgUrl, jdbcType=VARCHAR},
            </if>
            <if test="pdfUrl != null">
                #{pdfUrl, jdbcType=VARCHAR},
            </if>
            <if test="sexRestraint != null">
                #{sexRestraint, jdbcType=TINYINT},
            </if>
            <if test="guidingPrice != null">
                #{guidingPrice, jdbcType=DECIMAL},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TINYINT},
            </if>
            <if test="endTime != null">
                #{endTime,jdbcType=TINYINT},
            </if>
            <if test="discountPrice != null">
                #{discountPrice,jdbcType=DECIMAL},
            </if>
            <if test="discount != null">
                #{discount,jdbcType=TINYINT},
            </if>
            <if test="enabled != null">
                #{enabled, jdbcType=TINYINT},
            </if>
            <if test="isCommonPackage != null">
                #{isCommonPackage, jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime, jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime, jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                #{deleted, jdbcType=TINYINT},
            </if>
            <if test="deleteTime != null">
                #{deleteTime, jdbcType=TIMESTAMP},
            </if>
            <if test="itemRemark != null">
                #{itemRemark, jdbcType=VARCHAR},
            </if>
            <if test="itemIds != null">
                #{itemIds, jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="modify" parameterType="com.todaysoft.ghealth.mybatis.model.Product">
        update ghealth_gopath_product
        <set>
            <if test="code != null">
                CODE = #{code,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="imgUrl != null">
                IMG_URL = #{imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="pdfUrl != null">
                PDF_URL = #{pdfUrl,jdbcType=VARCHAR},
            </if>
            <if test="sexRestraint != null">
                SEX_RESTRAINT = #{sexRestraint,jdbcType=TINYINT},
            </if>
            <if test="guidingPrice != null">
                GUIDING_PRICE = #{guidingPrice,jdbcType=DECIMAL},
            </if>
            <if test="startTime != null">
                START_TIME= #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="endTime != null">
                END_TIME= #{endTime,jdbcType=TIMESTAMP},
            </if>
            <if test="discountPrice != null">
                DISCOUNT_PRICE = #{discountPrice,jdbcType=DECIMAL},
            </if>
            <if test="discount != null">
                DISCOUNT = #{discount,jdbcType=TINYINT},
            </if>
            <if test="itemRemark != null">
                ITEM_REMARK = #{itemRemark,jdbcType=VARCHAR},
            </if>
            <if test="itemIds != null">
                ITEM_IDS = #{itemIds,jdbcType=VARCHAR},
            </if>
            <if test="isCommonPackage != null">
                IS_COMMON_PACKAGE = #{isCommonPackage,jdbcType=TINYINT},
            </if>
            <if test="enabled != null">
                ENABLED = #{enabled,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                CREATE_TIME= #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null">
                DELETED = #{deleted,jdbcType=TINYINT},
            </if>
            <if test="deleteTime != null">
                DELETE_TIME = #{deleteTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>

    <sql id="OffsetLimitClause">
        <if test="_parameter.limit != null">
            LIMIT #{limit}
        </if>
        <if test="_parameter.offset != null">
            OFFSET #{offset}
        </if>
    </sql>

    <sql id="ExpertFilters">
        WHERE t.DELETED = '0'
        <if test="_parameter.name != null and _parameter.name != ''">
            <bind name="namePattern" value="'%' + _parameter.name + '%'"/>
            AND t.NAME LIKE #{namePattern}
        </if>
        <if test="_parameter.discount != null and _parameter.discount != ''">
            AND t.DISCOUNT = #{discount}
        </if>
        <if test="_parameter.code != null and _parameter.code != ''">
            <choose>
                <when test="_parameter.codeExactMatches">AND t.CODE = #{code}</when>
                <otherwise>
                    <bind name="codePattern" value="'%'+ _parameter.code + '%'"/>
                    AND t.CODE LIKE #{codePattern}
                </otherwise>
            </choose>
        </if>
        <if test="_parameter.excludeKeys != null and _parameter.excludeKeys.size != 0">
            <choose>
                <when test="_parameter.excludeKeys.size == 1">
                    AND t.ID !=
                    <foreach collection="_parameter.excludeKeys" item="excludeKey" index="index" open="" close="" separator="">
                        #{excludeKey}
                    </foreach>
                </when>
                <otherwise>
                    AND t.ID NOT IN
                    <foreach collection="_parameter.excludeKeys" item="excludeKey" index="index" open="(" close=")" separator=",">
                        #{excludeKey}
                    </foreach>
                </otherwise>
            </choose>
        </if>
    </sql>

    <select id="count" resultType="long" parameterType="com.todaysoft.ghealth.mybatis.model.query.ProductQuery">
        SELECT COUNT(*) FROM ghealth_gopath_product t

        <include refid="ExpertFilters"/>
    </select>

    <sql id="Base_Query">
        SELECT * FROM ghealth_gopath_product t
        <include refid="ExpertFilters"/>
    </sql>
    <select id="query" resultMap="BaseResultMap"
            parameterType="com.todaysoft.ghealth.mybatis.model.query.ProductQuery">
        <include refid="Base_Query"/>
        ORDER BY t.CREATE_TIME DESC
        <include refid="OffsetLimitClause"/>
    </select>

    <select id="weChatQuery" resultMap="BaseResultMap"
            parameterType="com.todaysoft.ghealth.mybatis.model.query.ProductQuery">
        <include refid="Base_Query"/>
        AND t.ENABLED = '1'
        ORDER BY t.CREATE_TIME DESC
        <include refid="OffsetLimitClause"/>
    </select>

    <sql id="union">
        SELECT DISTINCT
        p.*
        FROM
        ghealth_gopath_product p
        LEFT JOIN ghealth_gopath_product_questionnaire pq ON pq.PRODUCT_ID = p.ID
        LEFT JOIN	ghealth_gopath_questionnaire q ON q.ID = pq.QUESTIONNAIRE_ID
        WHERE
        p.DELETED = 0
        AND	q.DELETED = 0
        AND q.`STATUS` = 1
        AND q.ID IN
        <foreach collection="_parameter.questionnaireList" item="questionnaireId" index="index" open="(" close=")" separator=",">
            #{questionnaireId}
        </foreach>
        UNION
    </sql>

    <select id="list" resultMap="BaseResultMap" parameterType="com.todaysoft.ghealth.mybatis.model.query.ProductQuery">
        SELECT
          a.*
        FROM
            (
            <if test="_parameter.questionnaireList != null">
                <include refid="union"/>
            </if>
            SELECT
                ggp.*
            FROM
                ghealth_gopath_product ggp
            WHERE
                ggp.DELETED = 0
            AND ggp.ENABLED = 1
            AND ggp.IS_COMMON_PACKAGE = 1) a
        ORDER BY a.CREATE_TIME DESC
    </select>
</mapper>