<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.todaysoft.ghealth.mybatis.mapper.SlideshowMapper" >
    <resultMap id="BaseResultMap" type="com.todaysoft.ghealth.mybatis.model.Slideshow" >
        <id column="ID" property="id" jdbcType="VARCHAR" />
        <result column="NAME" property="name" jdbcType="VARCHAR" />
        <result column="PICTURE_URL" property="pictureUrl" jdbcType="VARCHAR" />
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="ExpertFilters">
        <if test="_parameter.name != null and _parameter.name != ''" >
            <bind name="namePattern" value="'%' + _parameter.name + '%'" />
            AND ${slideshow}.NAME LIKE #{namePattern}
        </if>
    </sql>
    <sql id="OffsetLimitClause">
        <if test="_parameter.limit != null">
            LIMIT #{limit}
        </if>
        <if test="_parameter.offset != null">
            OFFSET #{offset}
        </if>
    </sql>

    <insert id="create" parameterType="com.todaysoft.ghealth.mybatis.model.Slideshow" >
        insert into ghealth_gopath_slideshow
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                ID,
            </if>
            <if test="name != null" >
                NAME,
            </if>
            <if test="pictureUrl != null" >
                PICTURE_URL,
            </if>
            <if test="createTime != null" >
                CREATE_TIME,
            </if>
            <if test="deleted != null" >
                DELETED,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="name != null" >
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="pictureUrl != null" >
                #{pictureUrl,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deleted != null" >
                #{deleted,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="modify" parameterType="com.todaysoft.ghealth.mybatis.model.Slideshow">
        update ghealth_gopath_slideshow
        <set>
            <if test="name != null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="pictureUrl != null">
                PICTURE_URL = #{pictureUrl,jdbcType=VARCHAR},
            </if>
            <if test="deleted != null" >
                DELETED = #{deleted,jdbcType=BIT},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>

    <select id="count" resultType="long" parameterType="com.todaysoft.ghealth.mybatis.model.query.SlideshowQuery">
        SELECT COUNT(*) FROM ghealth_gopath_slideshow t
        WHERE DELETED = '0'
        <include refid="ExpertFilters">
            <property name="slideshow" value="t" />
        </include>
    </select>

    <select id="query" resultMap="BaseResultMap" parameterType="com.todaysoft.ghealth.mybatis.model.query.SlideshowQuery">
        SELECT
        ID, NAME, PICTURE_URL, CREATE_TIME
        FROM ghealth_gopath_slideshow t
        WHERE DELETED = '0'
        <include refid="ExpertFilters">
            <property name="slideshow" value="t" />
        </include>
        ORDER BY CREATE_TIME DESC
        <include refid="OffsetLimitClause" />
    </select>

    <select id="get" resultMap="BaseResultMap" parameterType="java.lang.String" >
        SELECT
        ID, NAME, PICTURE_URL, CREATE_TIME
        FROM ghealth_gopath_slideshow
        WHERE ID = #{id,jdbcType=VARCHAR}
    </select>
</mapper>