<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="format-detection" content="telephone=no,email=no">
    <meta http-equiv="Cache-Control" content="no-store"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="HandheldFriendly" content="true">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <link rel="stylesheet" href="${plugins}/weui.min.css">
    <link rel="stylesheet" href="${plugins}/jquery-weui.min.css">
    <link rel="stylesheet" href="${system_css}/common.css">
    <link rel="stylesheet" href="${system_css}/styles.css">
</head>
<body>
<header class="ja-head ja-head_testing">
    <section class="ja-head__test-item">
        <p class="ja-head__txt">${(data.product.name)!?html} <span class="f_r ja-head__num">¥${(data.product.guidingPrice)!?html}</span></p>
        <p class="ja-head__meta">下单时间：${(data.createTime)!?html}
            <span class="f_r">
            <#if data.status == 0>待寄送</#if>
                <#if data.status == 1>已寄送</#if>
                <#if data.status == 2>实验中</#if>
                <#if data.status == 3>已完成</#if>
                <#if data.status == 4>未付款</#if>
        </span></p>
    </section>
</header>
<article class="ja-tabs">
    <section class="ja-tabs__hd ub">
        <a href="#tabCot1" class="ub-f1 ja-tabs__hd-title active">订单信息</a>
        <a href="#tabCot2" class="ub-f1 ja-tabs__hd-title">进度查询</a>
    </section>
    <section class="ja-tabs__bd">
        <section id="tabCot1" class="ja-tabs__cot active">
            <div class="ja-column-label">
                <div class="ja-column-label__title">检测人信息</div>
            </div>
            <div style="padding-top: 0.8rem;">
                <ul class="ja-info-list">
                    <li class="ja-info-list__item">
                        <div class="ja-info-list__item-name">采集器编号：</div>
                        <div class="ja-info-list__item-txt">${(data.sampleBox.code)!?html}</div>
                    </li>
                    <li class="ja-info-list__item">
                        <div class="ja-info-list__item-name">姓名：</div>
                        <div class="ja-info-list__item-txt">${(data.customer.name)!?html}</div>
                    </li>
                    <li class="ja-info-list__item">
                        <div class="ja-info-list__item-name">性别：</div>
                        <div class="ja-info-list__item-txt">
                            <#if data.customer??>
                                <#if (data.customer.sex) == "1">男</#if>
                                <#if (data.customer.sex) == "2">女</#if>
                            </#if>
                        </div>
                    </li>
                    <li class="ja-info-list__item">
                        <div class="ja-info-list__item-name">出生日期：</div>
                        <div class="ja-info-list__item-txt">${(data.customer.birthday)!?html}</div>
                    </li>
                    <li class="ja-info-list__item">
                        <div class="ja-info-list__item-name">采样时间：</div>
                        <div class="ja-info-list__item-txt">${(data.samplingTime)!?html}</div>
                    </li>
                    <li class="ja-info-list__item">
                        <div class="ja-info-list__item-name">邮箱：</div>
                        <div class="ja-info-list__item-txt">${(data.customer.email)!?html}</div>
                    </li>
                    <li class="ja-info-list__item">
                        <div class="ja-info-list__item-name">纸质报告：</div>
                        <div class="ja-info-list__item-txt">
                            <#if data.reportPrintRequired == 0>不需要</#if>
                            <#if data.reportPrintRequired == 1>需要</#if>
                        </div>
                    </li>
                    <li class="ja-info-list__item">
                        <div class="ja-info-list__item-name">样本类型：</div>
                        <div class="ja-info-list__item-txt">
                            <#if data.sampleType??>
                                <#if data.sampleType == 1>口腔黏膜</#if>
                                <#if data.sampleType == 2>抗凝血</#if>
                                <#if data.sampleType == 3>其他</#if>
                            </#if>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <div id="tabCot2" class="ja-tabs__cot">
            <section class="ja-records" style="margin-top: 1.25rem;">
                <#if data.orderHistory?has_content>
                    <#list data.orderHistory as history>
                        <div class="ja-records__cell ub <#if history_index == 0>active</#if>">
                            <div class="ja-records__day">
                                <p class="ja-records__date">${(history.eventTime)!?html}</p>
                            </div>
                            <div class="ja-records__status ub-f1 ub ub-ac">
                                <p class="ja-records__state">
                                    <#if history.eventType == 0>已下单</#if>
                                    <#if history.eventType == 1>已寄送</#if>
                                    <#if history.eventType == 2>实验中</#if>
                                    <#if history.eventType == 3>
                                    <p class="ja-records__state">生成报告 <a href="${(data.orderUrl)!?html}" target="_blank" class="weui-btn ja-btn__primary ja-btn__inline-size ja-btn__round">报告预览</a></p>
                                    </#if>
                                    <#if history.eventType == 4>待付款</#if>
                                </p>
                            </div>
                        </div>
                    </#list>
                </#if>
            </section>
        </div>
    </section>
</article>
<script src="${plugins}/jquery.min.js"></script>
<script src="${plugins}/jquery-weui.min.js"></script>
<script type="text/javascript">
    $('.ja-tabs .ja-tabs__hd-title').on('click', function (e) {
        var $me = $(this);
        var targetId = $me.attr('href');
        $me.addClass('active').siblings().removeClass('active');
        $(targetId).addClass('active').siblings('.ja-tabs__cot').removeClass('active');
        return false;
    })
</script>
</body>
</html>